@media screen and (min-width: 1140px) {
  .container {
    max-width: 1920px;
    width: 100;
  }
  .container .content {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .container .content .logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container .content .nav {
    width: 45vw;
    display: flex;
    justify-content: space-between;
    font-family: "Gilroy", "sans serif";
    font-style: normal;
  }
  .container .content .nav .nav__user {
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-flex;
  }
  .container .content .nav .nav__user .nav__option {
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #565656;
  }
  .container .content .nav .nav__user .nav__option:hover {
    border-top: 3px solid #55B570;
    padding-top: 27px;
  }
  .container .content .nav .nav__user .nav__option:active {
    border-top: 3px solid #55B570;
    padding-top: 27px;
  }
  .container .content .nav .nav__user .nav__webdev {
    margin-right: 10%;
  }
  .container .content .nav .nav__user .nav__ad {
    margin-left: 10%;
  }
  .container .content .nav .nav__entrylang {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .container .content .nav .nav__entrylang .nav__entry {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 4%;
    margin-right: 4%;
  }
  .container .content .nav .nav__entrylang .nav__entry .nav__option {
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 800;
    color: #55B570;
  }
  .container .content .nav .nav__entrylang .nav__entry .nav__option:hover {
    border-top: 3px solid #55B570;
    padding-top: 27px;
  }
  .container .content .nav .nav__entrylang .nav__entry .nav__option:active {
    border-top: 3px solid #55B570;
    padding-top: 27px;
  }
  .container .content .nav .nav__entrylang .nav__languages {
    margin-top: 27px;
    margin-bottom: 30px;
    background: #F9F9F9;
    border: 1px solid #EBEBEB;
    border-radius: 14px;
    box-sizing: border-box;
    margin-right: 5%;
  }
  .container .content .nav .nav__entrylang .nav__languages label {
    display: inline-block;
    width: 35px;
    height: 28px;
    border-radius: 14px;
    transition: all 0.2s;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    padding-top: 7px;
  }
  .container .content .nav .nav__entrylang .nav__languages input[type=radio] {
    display: none;
  }
  .container .content .nav .nav__entrylang .nav__languages input[type=radio]:checked + label {
    background: #2E9ADB;
    border-radius: 14px;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) and (max-width: 1139px) {
  .container {
    max-width: 1920px;
    width: 100;
  }
  .container .content {
    margin: auto;
    width: 96%;
    display: flex;
    justify-content: space-between;
  }
  .container .content .logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container .content .nav {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    font-family: "Gilroy", "sans serif";
    font-style: normal;
  }
  .container .content .nav .nav__user {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
  }
  .container .content .nav .nav__user .nav__option {
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #565656;
  }
  .container .content .nav .nav__user .nav__option:hover {
    border-top: 3px solid #55B570;
    padding-top: 27px;
  }
  .container .content .nav .nav__user .nav__option:active {
    border-top: 3px solid #55B570;
    padding-top: 27px;
  }
  .container .content .nav .nav__user .nav__webdev {
    margin-right: 10%;
  }
  .container .content .nav .nav__user .nav__ad {
    margin-left: 10%;
  }
  .container .content .nav .nav__entrylang {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .container .content .nav .nav__entrylang .nav__entry {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 4%;
    margin-right: 4%;
  }
  .container .content .nav .nav__entrylang .nav__entry .nav__option {
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 800;
    color: #55B570;
  }
  .container .content .nav .nav__entrylang .nav__entry .nav__option:hover {
    border-top: 3px solid #55B570;
    padding-top: 27px;
  }
  .container .content .nav .nav__entrylang .nav__entry .nav__option:active {
    border-top: 3px solid #55B570;
    padding-top: 27px;
  }
  .container .content .nav .nav__entrylang .nav__languages {
    margin-top: 27px;
    margin-bottom: 30px;
    background: #F9F9F9;
    border: 1px solid #EBEBEB;
    border-radius: 14px;
    box-sizing: border-box;
    margin-right: 5%;
  }
  .container .content .nav .nav__entrylang .nav__languages label {
    display: inline-block;
    width: 35px;
    height: 28px;
    border-radius: 14px;
    transition: all 0.2s;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    padding-top: 7px;
  }
  .container .content .nav .nav__entrylang .nav__languages input[type=radio] {
    display: none;
  }
  .container .content .nav .nav__entrylang .nav__languages input[type=radio]:checked + label {
    background: #2E9ADB;
    border-radius: 14px;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 1920px;
    width: 100;
  }
  .container .content {
    margin: auto;
    width: 90%;
    height: 125px;
    display: flex;
    justify-content: space-between;
  }
  .container .content .logo {
    position: absolute;
    width: 78px;
    height: 36px;
    left: 16px;
    top: 26px;
  }
  .container .content .nav {
    display: flex;
    flex-direction: column-reverse;
    font-family: "Gilroy", "sans serif";
    font-style: normal;
  }
  .container .content .nav .nav__user {
    display: flex;
    text-align: center;
    padding-bottom: 12px;
  }
  .container .content .nav .nav__user .nav__option {
    text-decoration: none;
    font-weight: 700;
    color: #565656;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    font-family: "Gilroy", "sans serif";
    font-style: normal;
    text-transform: uppercase;
  }
  .container .content .nav .nav__user .nav__webdev {
    padding-top: 10px;
    margin-right: 1%;
    margin-left: 1%;
    width: 45vw;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  }
  .container .content .nav .nav__user .nav__ad {
    padding-top: 10px;
    margin-left: 1%;
    margin-right: 6%;
    width: 45vw;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  }
  .container .content .nav .nav__user .nav__webdev:hover {
    border-top: 3px solid #55B570;
  }
  .container .content .nav .nav__user .nav__ad:hover {
    border-top: 3px solid #55B570;
  }
  .container .content .nav .nav__entrylang {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  }
  .container .content .nav .nav__entrylang .nav__entry {
    margin-left: 4%;
    margin-right: 1%;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .container .content .nav .nav__entrylang .nav__entry .nav__registration {
    display: none;
  }
  .container .content .nav .nav__entrylang .nav__entry .nav__option {
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 800;
    color: #55B570;
  }
  .container .content .nav .nav__entrylang .nav__entry .nav__option:hover {
    border-top: 3px solid #55B570;
    padding-top: 27px;
  }
  .container .content .nav .nav__entrylang .nav__entry .nav__option:active {
    border-top: 3px solid #55B570;
    padding-top: 27px;
  }
  .container .content .nav .nav__entrylang .nav__languages {
    background: #F9F9F9;
    border: 1px solid #EBEBEB;
    border-radius: 14px;
    box-sizing: border-box;
    height: 32px;
    margin: 18px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .container .content .nav .nav__entrylang .nav__languages label {
    display: inline-block;
    width: 35px;
    height: 29px;
    border-radius: 14px;
    transition: all 0.2s;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    padding-top: 7px;
  }
  .container .content .nav .nav__entrylang .nav__languages input[type=radio] {
    display: none;
  }
  .container .content .nav .nav__entrylang .nav__languages input[type=radio]:checked + label {
    background: #2E9ADB;
    border-radius: 14px;
    color: #FFFFFF;
  }
}/*# sourceMappingURL=style.css.map */